



.dropdown-content {
    display: none;
    position: absolute;
    background-color: lavender;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
   font-family:palatino linotype, palatino, serif;
}

.dropdown-content a:hover { color:black;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    
     border: 3px solid lavender;
    
}