
@{
    ViewBag.Title = "Arcade";
}

<h1>Arcade Games</h1>

<div>
    <a href='@Url.Action( "Snake", "Home")'>
        <img src="~/Content/Images/SNEK.png" height="400" width="400">
    </a>

    <a href='@Url.Action( "Flappy", "Home")'>
        <img src="~/Content/Images/FLAP.png" height="400" width="400">
    </a>
</div>

