
@{
    ViewBag.Title = "Easy";
}
<!DOCTYPE html>
<html lang="en">
<head>


    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/Hang.js"></script>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hangman </title>
</head>
<body>
    <h1>HANGMAN</h1>


    <p>
        <button id="b" type="button" onclick="dictionar()"> START </button>
        <button id="meniu" type="button"> @Html.ActionLink("MENU", "Game", "Home") </button>
        <button id="b3" type="button" onclick="reset()"> RESTART </button>
    </p>

    <section>
        <p id="p1">
        <p id="scor"> </p>
        </p> <p>
            <img id="poza" src="~/Content/Images/poza1.jpg">

        </p>

        <p>

            <br>

            <form id="lit" onsubmit="check()">
                <fieldset>
                    <legend>Chose a letter</legend>
                    <br>
                    <label><input type="radio" name="rad" value="A" id="a1"> A </label>
                    <label><input type="radio" name="rad" value="B" id="a2"> B </label>
                    <label><input type="radio" name="rad" value="C" id="a3"> C </label>
                    <label><input type="radio" name="rad" value="D" id="a4"> D </label>
                    <label><input type="radio" name="rad" value="E" id="a5"> E </label>
                    <label><input type="radio" name="rad" value="F" id="a6"> F </label>
                    <label><input type="radio" name="rad" value="G" id="a7"> G </label>
                    <label><input type="radio" name="rad" value="H" id="a8"> H </label>
                    <label><input type="radio" name="rad" value="I" id="a9"> I </label>
                    <label><input type="radio" name="rad" value="J" id="a10"> J </label>
                    <label><input type="radio" name="rad" value="K" id="a11"> K </label>
                    <label><input type="radio" name="rad" value="L" id="a12"> L </label>
                    <label><input type="radio" name="rad" value="M" id="a13"> M </label>
                    <label><input type="radio" name="rad" value="N" id="a14"> N </label>
                    <label><input type="radio" name="rad" value="O" id="a15"> O </label>
                    <label><input type="radio" name="rad" value="P" id="a16"> P </label>
                    <label><input type="radio" name="rad" value="Q" id="a17"> Q </label>
                    <label><input type="radio" name="rad" value="R" id="a18"> R </label>
                    <label><input type="radio" name="rad" value="S" id="a19"> S </label>
                    <label><input type="radio" name="rad" value="T" id="a20"> T </label>
                    <label><input type="radio" name="rad" value="U" id="a21"> U </label>
                    <label><input type="radio" name="rad" value="V" id="a22"> V </label>
                    <label><input type="radio" name="rad" value="W" id="a23"> W </label>
                    <label><input type="radio" name="rad" value="X" id="a24"> X </label>
                    <label><input type="radio" name="rad" value="Y" id="a25"> Y </label>
                    <label><input type="radio" name="rad" value="Z" id="a26"> Z </label>
                    <br>
                    <br>
                    <br>
                    <button type="button" id="buton" class="button" onclick="check()"> Send </button>
                    <button type="reset" class="button"> Reset</button>

                </fieldset>
            </form>
        </p>

        <p> Play some music </p>
        <p>
            <audio src="~/Content/Music/hangman.mp3" controls type="audio/mp3"></audio>
        </p>
    </section>
</body>
</html>


