
@{
    ViewBag.Title = "Snake";
}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset=utf-8>
    <title>Snake</title>

    <link href="~/Content/SnakeStyle.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/p5.js"></script>
    <script src="~/Scripts/p5.dom.js"></script>
    <script src="~/Scripts/p5.sound.js"></script>
    <script src="~/Scripts/snake.js"></script>
</head>
<body>
</body>
</html>

