
@{
    ViewBag.Title = "Action";
}

<h1> Action Games</h1>
<div>
<a href='@Url.Action( "Bears", "Home")'>
    <img src="~/Content/Images/URS.png" height="400" width="400">
</a>

<a href='@Url.Action( "SpaceInvaders", "Home")'>
    <img src="~/Content/Images/INVADEZ.png" height="400" width="400">
</a>

    </div>

