@{
    ViewBag.Title = "Home Page";
}
<br >

<h1 >ALL THE GAMES</h1>
   <div>
      <img  src="~/Content/Images/SPANZURAT.png" height="350" width="350">
       <img  src="~/Content/Images/URS.png" height="350" width="350">
       <img src="~/Content/Images/MEMO.png" height="350" width="350">
       <br >
       <img src="~/Content/Images/FLAP.png" height="350" width="350">
       <img src="~/Content/Images/INVADEZ.png" height="350" width="350">
       <img src="~/Content/Images/SNEK.png" height="350" width="350">
   </div>