@{
    ViewBag.Title = "Home Page";
}
<br >

<h1 >ALL THE GAMES</h1>
   <div>
       <a href='@Url.Action( "Game", "Home")'>
           <img src="~/Content/Images/SPANZURAT.png" height="350" width="350" />
       </a>                                

       <a href='@Url.Action( "Bears", "Home")'>
            <img  src="~/Content/Images/URS.png" height="350" width="350">
       </a>
       <a href='@Url.Action( "MemoryGame", "Home")'>
           <img src="~/Content/Images/MEMO.png" height="350" width="350">
        </a>
        <br>
        <img src="~/Content/Images/FLAP.png" height="350" width="350">
        <a href='@Url.Action( "SpaceInvaders", "Home")'>
               <img src="~/Content/Images/INVADEZ.png" height="350" width="350">
        </a>
        <img src="~/Content/Images/SNEK.png" height="350" width="350">
</div>