
@{
    ViewBag.Title = "MemoryGame";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: beige;
        }

        table {
            display: inline-block;
            float: center;
            margin: auto;
            margin-top: 10%;
            border: 1px solid black;
            border-collapse: collapse;
            padding: 0px;
        }

        td {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
            font-size: 250%;
        }

        #div1, #div2, #div3 {
            display: block;
            font-size: 250%;
            text-align: center;
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 1px solid black;
            background-color: pink;
        }

        #div1 {
            margin-left: 30%;
        }

        #inst {
            display: block;
            margin: auto;
            margin-top: 10%;
            width: 350px;
            font-size: 250%;
            text-align: center;
            height: 75px;
            border: 1px solid black;
            background-color: pink;
        }

        #scor {
            margin: auto;
            font-size: 250%;
            text-align: center;
            float: left;
        }

        #menu {
            margin: auto;
            font-size: 250%;
            text-align: center;
            float: right;
        }

        #restart {
            margin: auto;
            font-size: 250%;
            text-align: center;
            float: center;
        }
    </style>
    <title> memorygame </title>
    @Scripts.Render("~/Scripts/MemoryGame.js")
</head>
<body>
    <div id="div1"> Usor </div>
    <div id="div2"> Mediu </div>
    <div id="div3"> Greu </div>
    <br />
    <div id="inst"> INSTRUCTIONS </div>
    <div id="scor"> </div>
    <div id="menu"> </div>
    <div id="restart"> </div>
    <p id="p"></p>
    <table id="t"></table>
</body>
</html>