
@{
    ViewBag.Title = "MemStra";
}

<h1>Memory and Strategy Games</h1>
<div>
<a href='@Url.Action( "Game", "Home")'>
    <img src="~/Content/Images/SPANZURAT.png" height="350" width="400" />
</a> 

    <a href='@Url.Action( "MemoryGame", "Home")'>
        <img src="~/Content/Images/MEMO.png" height="350" width="400">
    </a>
    </div>

