
@{
    ViewBag.Title = "Bears";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>Bears</title>

        @Scripts.Render("~/Scripts/Bears.js")
        @Scripts.Render("~/Scripts/enchant.js")              

</head>
<body>

</body>
</html>