h1 {
	color:rebeccapurple;
	text-align:center;
	font-size:50px;
	font-family:palatino linotype, palatino, serif;

}
#scor{
	text-align:right;
	font-size:30px;
	color:white;
}
#bod{
	background-image:url("spatiu.jpg");
}
#i {
	visibility:hidden;
}
section {
	 margin-left:auto;
	 margin-right:auto; 
     width:75%;
	 text-align:center;
     border: 2px solid lavender;
	 border-radius: 25px;	 
	 padding: 20px 70px 20px 70px;
	 font-family:georgia,serif;
	 letter-spacing:3px;
	 word-spacing:2px;
	 font-size:24px;
	 background-color:beige;
	 top:500px;
	 }
	 
	 button{
	 background-color: lavender;
	 font-family:palatino linotype, palatino, serif;
	 border: 3px indigo;
    border-radius:25px;
	
    cursor: pointer;
    font-weight:italic;
	
	 
}
p{
	text-align:center;
	

}

body{
	background-color:seashell;
}